
/* body {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
} */
@import url('../../colors.css');

.react-switch-handle{
    width: 15px !important;
    height: 15px !important;
    position: relative;
    margin-top: 0.15rem;
    margin-left: 0.15rem;
    /* left: 0.5rem; */
    /* transform: translateY(0.2rem) !important; */
}
.buttonMode{
    height: 8px;
}
body{
    background-color: var(--backgroundcolor);
    color:var(--textcolor);
}

/* .dark-mode{
    --card2-color:#ffffff;
    --h3-color: #ffffff;
}

h3.dark-mode{
    color:#ffffff;
}    */


@media screen and (min-width: 768px ) {
    .buttonMode{
        position: relative;
        left: 17rem;
    }
}