.header{
  position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    /* padding-left: 80px; */
    z-index: 9000;

    & .img{
      width: 200px;
    }
  }
  .logo__cont{
    width: 160px;
  }
.nav__wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.navigation {
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 5px;
    position: relative;
  }
  
  .menu {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
  }
  
  .menu::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -32px;
    height: 2px;
    width: 32px;
    background-color: rgb(224, 224, 224);
    transform: translateY(-50%);
    transform: rotate(90deg);
  }
  
  .nav__item {
    font-family: 'Verdana Bold';
    font-weight: normal;
    /* font-weight: bold; */

    vertical-align: middle;
  }