
h3{
    color:var(--h3color)!important;
    font-size: 1.5em;
    font-family: "Verdana bold";
    letter-spacing: 0;
}

@media screen and (min-width:768px) {

    h3{
        color: var(--h3color)!important;
        font-size: 1.3em;
        font-family: "Verdana bold";
        letter-spacing: 0;
    }
}