.diary-date-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  

}
.date-display {
  
  display: flex;
  align-items: center;
}

.date-text {
  font:Verdana;
  font-weight: 700;
  Size:30px;
  
}
.calendar-input {
  flex-direction: row;
  align-items: right;
  justify-content: center;
  cursor: pointer;
 
}

.calendar-input img {
  width: 30px; /* Ajusta el tamaño de la imagen del icono */
  height: 30px;
  margin: 0px; /* Espacio entre la imagen y la fecha */
}

.diary-date-calendar .react-datepicker-wrapper {
  width: 100%; /* Ajusta el ancho del DatePicker para llenar el contenedor */
  
}

.diary-date-calendar .react-datepicker__input-container {
  display: block;
}


.date-text {
  font-size: 50px;
  margin-right: 20px;
}